.itc-slider {
    position: relative;
}
.itc-slider__wrapper {
    overflow: hidden;
}
.itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}
.itc-slider__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    user-select: none;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itc-slider__btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background: #D67E34;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 0 0 9px #000000, 0 0 3px #000000;
}
.itc-slider__btn_hide {
    display: none;
}
.itc-slider__btn_prev {
    left: 0;
}
.itc-slider__btn_next {
    right: 0;
}
.itc-slider__btn:hover {
    background-color: rgb(255, 124, 17);
}
.itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.itc-slider__btn_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.itc-slider__btn_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.itc-slider__indicators {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    list-style: none;
    border-radius: 10px;
    align-items: center;
}
.itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    background-color: rgba(214, 126, 52, 0.45);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
}
.itc-slider__indicator:hover {
    background-color: rgb(255, 124, 17);
    scale: 1.2;
}
.itc-slider__indicator_active {
    background-color: rgb(255, 124, 17);
    scale: 1.2;
    border: none;
}
.our-menu .itc-slider__item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.comments .itc-slider__item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 100px 20%;
}
.comments .itc-slider__indicators{
    bottom: 30px;
}


@media (max-width: 768px) {
    .itc-slider__btn {
        display: none;
    }
    .comments .itc-slider__item {
        padding: 60px 10%;
    }
}
@media (max-width: 375px) {
    .itc-slider__indicator{
        width: 7px;
        height: 7px;
    }
    .our-menu .itc-slider__item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .comments .itc-slider__item{
        padding: 30px 0px 60px;
    }
}
